<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.home.jjh.hsk.mapper.InsertMapper">


	<!-- 사용자 등록 -->
	<select id="setApiUser" resultType="com.home.jjh.hsk.model.userModel" parameterType="java.util.HashMap">
		insert into user(
		    uid , displayname , email , bannerId , phoneNumber , photoUrl , providerId , tokenGoogle
		)
		values( #{uid} , #{displayname} , #{email} , #{bannerId} , #{phoneNumber} , #{photoUrl} , #{providerId} , #{tokenGoogle})
	</select>


	<!-- 베너 등록 -->
	<select id="setApiMainBannerItem" parameterType="com.home.jjh.hsk.model.mainBannerItem">
		insert into mainbanneritem (
			adId, bannerId, imgUrl, itemClickUrl
		)
		values( #{adId} , #{bannerId} , #{imgUrl} , #{itemClickUrl} )
	</select>

	<!-- 스토어 등록 -->
	<select id="insertShop" parameterType="com.home.jjh.hsk.model.shopsModel">
		insert into shops (
			shopId ,
			addInfoAsPhone ,
			addInfoCeo ,
			addInfoChangePay ,
			addInfoEmail ,
			addInfoInternetConfirmNumber ,
			addInfoTranAutoType ,
			addInfoTranCustomerCode ,
			addInfoTranName ,
			addInfoTransAddNumber ,
			addInfoTransRecallAdd ,
			addInfoWorkingTime ,
			basicAgeType ,
			basicStyle ,
			basicTitleWord ,
			shopCountItemClick ,
			shopCountLike ,
			shopHomepage ,
			shopMainImg ,
			shopName
		)

		values(
			#{shopId},
			#{addInfoAsPhone},
			#{addInfoCeo},
			#{addInfoChangePay},
			#{addInfoEmail},
			#{addInfoInternetConfirmNumber},
			#{addInfoTranAutoType},
			#{addInfoTranCustomerCode},
			#{addInfoTranName},
			#{addInfoTransAddNumber},
			#{addInfoTransRecallAdd},
			#{addInfoWorkingTime},
			#{basicAgeType},
			#{basicStyle},
			#{basicTitleWord},
			#{shopCountItemClick},
			#{shopCountLike},
			#{shopHomepage},
			#{shopMainImg},
			#{shopName}
		)
	</select>


	<!-- 스토어 등록 -->
	<select id="insertNewItem" parameterType="com.home.jjh.hsk.model.itemModel">
		insert into item (
			shopId,
			shopItemDetailUrl,
			shopItemName,
			shopItemPriceOriginal,
			shopItemPriceSale,
			shopItemUrl,
			shopTitle,
			itemId
		)
		values(
			#{shopId} ,
			#{shopItemDetailUrl} ,
			#{shopItemName} ,
			#{shopItemPriceOriginal} ,
			#{shopItemPriceSale} ,
			#{shopItemUrl} ,
			#{shopTitle} ,
			#{itemId}
		)
	</select>

	<!-- 아이템 디테일 등록 -->
	<select id="insertItemDetail" parameterType="com.home.jjh.hsk.model.itemDetailModel">
		insert into shopItemDetailArray (
			itemId ,
			detailItemCategori ,
			detailItemColor ,
			detailItemImg ,
			detailItemImgThum ,
			detailItemShop_fee ,
			detailItemSize ,
			detailItemTitle ,
			detailPagesItem ,
			shopItemDetailUrl ,
			shopItemName ,
			shopItemPriceOriginal ,
			shopItemPriceSale ,
			shopItemUrl
		)
		values(
			#{itemId} ,
			#{detailItemCategori} ,
			#{detailItemColor} ,
			#{detailItemImg} ,
			#{detailItemImgThum} ,
			#{detailItemShop_fee} ,
			#{detailItemSize} ,
			#{detailItemTitle} ,
			#{detailPagesItem} ,
			#{shopItemDetailUrl} ,
			#{shopItemName} ,
			#{shopItemPriceOriginal} ,
			#{shopItemPriceSale} ,
			#{shopItemUrl}
		)
	</select>

	<!-- 스토어 등록 -->
	<select id="insertEvent" parameterType="com.home.jjh.hsk.model.eventModel">
		insert into event (
			eventId ,
			clickCount ,
			endDate ,
			eventContent ,
			imgUrlContent ,
			imgUrlMain ,
			startDate
		)
		values(
			#{eventId},
			#{clickCount},
			#{endDate},
			#{eventContent},
			#{imgUrlContent},
			#{imgUrlMain},
			#{startDate}
		)
	</select>

</mapper>