<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.home.jjh.hsk.mapper.SelectMapper">

    <!-- 유저데이타 개인 유저 데이타 -->
    <select id="getApiUser" resultType="com.home.jjh.hsk.model.userModel">
        SELECT uid ,
                displayname,
				email,
				bannerId,
				phoneNumber,
				photoUrl,
				providerId,
				tokenGoogle
        FROM `user`
        WHERE email = #{email}
	</select>

    <select id="getApiIntro" resultType="com.home.jjh.hsk.model.introModel">
		SELECT adId,
			dataAd,
			emgContent,
			emgTitle,
			lastAos,
			lastIos,
			upMsgAos,
			upMsgIos,
			upTitleAos,
			upTitleIos,
			verAos,
			verIos
		FROM `adintro`
	</select>

    <select id="getApiAd" resultType="com.home.jjh.hsk.model.adModel">
		SELECT adId,
			cnt,
			startDate,
			endDate,
			cntMax
		FROM `ad`
	</select>

	<select id="getApiAdDataItem" resultType="com.home.jjh.hsk.model.adDataModel">
		SELECT adId,
			adDetailUrl,
			adMsg,
			adNo,
			adStoreName,
			adUrl
		FROM `adData`
	</select>


    <select id="getApiEvent" resultType="com.home.jjh.hsk.model.eventModel">
		SELECT
			eventId,
			clickCount,
			endDate,
			eventContent,
			imgUrlContent,
			imgUrlMain,
			startDate
		FROM `event`
		order by eventId DESC ;
	</select>

	<select id="getApiItem" resultType="com.home.jjh.hsk.model.itemModel">
		SELECT
			shopId,
			shopItemDetailUrl,
			shopItemName,
			shopItemPriceOriginal,
			shopItemPriceSale,
			shopItemUrl,
			shopTitle,
			itemId
		FROM `item`
	</select>

	<select id="getApiShopsDataItem" resultType="com.home.jjh.hsk.model.shopsModel">
		SELECT shopId ,
			addInfoAsPhone ,
			addInfoCeo ,
			addInfoChangePay ,
			addInfoEmail ,
			addInfoInternetConfirmNumber ,
			addInfoTranAutoType ,
			addInfoTranCustomerCode ,
			addInfoTranName ,
			addInfoTransAddNumber ,
			addInfoTransRecallAdd ,
			addInfoWorkingTime ,
			basicAgeType ,
			basicStyle ,
			basicTitleWord ,
			shopCountItemClick ,
			shopCountLike ,
			shopHomepage ,
			shopMainImg ,
			shopName
		FROM `shops`
	</select>


	<select id="getApiTestJoin" resultType="com.home.jjh.hsk.model.testJoinModel">
		select newitem.itemId ,
       		newitem.shopTitle ,
       		shopItemDetailUrl
		from newitem
        inner join item i on 1000000322 = i.itemId;
	</select>


	<select id="getApiMainBanner" resultType="com.home.jjh.hsk.model.mainBannerItem">
		SELECT
    		adId ,
    		bannerId ,
    		imgUrl ,
    		itemClickUrl
		FROM `mainbanneritem`
	</select>


<!--	<select id="getApiMainBanner" resultType="com.home.jjh.hsk.model.mainBannerItem">-->
<!--		delete event FROM event where eventId = #{eventId} ;-->
<!--	</select>-->



</mapper>