<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.home.jjh.hsk.mapper.TestMapper">

    <select id="getApi2Data" resultType="com.home.jjh.hsk.model.DbTestModel">
        /* testMapper.getApi2Data : tb_test 테이블에서 데이터 조회 */
        SELECT *
        FROM `tb_test`
        LIMIT 1; <!-- 단건조회테스트를위해 1개로 제한 -->
    </select>

    <select id="getApi3Data" resultType="com.home.jjh.hsk.model.DbTestCamelCaseModel">
		/* testMapper.getApi3Data : camelCase 형태로 칼럼 매핑  */
        SELECT DATA_NO
              ,DATA_ID
              ,CAMEL_TEST_DATA
        FROM `tb_test_for_camel`
	</select>


	<!-- 유저데이타 개인 유저 데이타 -->
    <select id="getApiUser" resultType="com.home.jjh.hsk.model.user">
		/* testMapper.getApi3Data : camelCase 형태로 칼럼 매핑  */
        SELECT uid ,
                displayname,
				email,
				banner_id,
				phoneNumber,
				photoUrl,
				providerId,
				token_google
        FROM `user`
        WHERE email = #{email}
	</select>


	<!-- 사용자 등록 -->
    <insert id="setApiUser" parameterType="com.home.jjh.hsk.model.user">
		insert into user(
		    uid , displayname , email , banner_id , phoneNumber , photoUrl , providerId , token_google
		)
		values( #{uid} , #{displayname} , #{email} , #{banner_id} , #{phoneNumber} , #{photoUrl} , #{providerId} , #{token_google})
	</insert>


	<!-- 베너 등록 -->
    <insert id="setApiMain_banner_item" parameterType="com.home.jjh.hsk.model.main_banner_item">
		insert into main_banner_item (
			ad_id, banner_id, img_url, item_Click_url
		)
		values( #{ad_id} , #{banner_id} , #{img_url} , #{item_Click_url} )
	</insert>


	<!-- 스토어 등록 -->
    <insert id="insertShop" parameterType="com.home.jjh.hsk.model.shopsModel">
		insert into shops (
			shop_id ,
			add_info_as_phone ,
			add_info_ceo ,
			add_info_change_pay ,
			add_info_email ,
			add_info_internet_confirm_number ,
			add_info_tran_auto_type ,
			add_info_tran_customer_code ,
			add_info_tran_name ,
			add_info_trans_add_number ,
			add_info_trans_recall_add ,
			add_info_working_time ,
			basic_age_type ,
			basic_style ,
			basic_title_word ,
			shop_count_item_click ,
			shop_count_like ,
			shop_homepage ,
			shop_main_img ,
			shop_name
		)

		values(
			#{shop_id},
			#{add_info_as_phone},
			#{add_info_ceo},
			#{add_info_change_pay},
			#{add_info_email},
			#{add_info_internet_confirm_number},
			#{add_info_tran_auto_type},
			#{add_info_tran_customer_code},
			#{add_info_tran_name},
			#{add_info_trans_add_number},
			#{add_info_trans_recall_add},
			#{add_info_working_time},
			#{basic_age_type},
			#{basic_style},
			#{basic_title_word},
			#{shop_count_item_click},
			#{shop_count_like},
			#{shop_homepage},
			#{shop_main_img},
			#{shop_name}
		)
	</insert>

</mapper>